* {
    margin: 0;
    padding: 0;
}

.img1 {
    filter: brightness(122%);
}

.img2 {
    /* filter: sepia (100%); */
    filter: invert();
    /* filter: opacity(10); */
}

.img3 {
    filter: brightness(122%);
}