    :root{
        --color:red;
        --seccolor:rgba(125, 7, 204, 0.623);
        --defpad:23px;
        --defof:0.2;
    }

*
{
    margin: 0;
    padding: 0;
}
.nav
{
    background-color:var(--color);
}

ul{
    display: flex;
}
ul li{
    opacity:var(--defof);
    list-style: none;
    padding: var(--defpad);
    border: 2px solid var(--seccolor);
}
ul li:first-child{
    --color:rgb(255, 145, 0);
    background-color: var(--color,blue);
}

.container{
    background-color: var(--seccolor);
}
